<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Shorten URL</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<div class="row" style="margin-top:80px;">
		<div class="col-xs-12 col-xs-offset-2 col-sm-12 col-sm-offset-2 col-md-6 col-md-offset-3">
			<h3 id="title">http://huy.kr/</h3>
		</div>
	</div>
	<div class="row" style="margin-top:36px;">
		<div class="col-xs-12 col-sm-12 col-sm-offset-2 col-md-8 col-md-offset-3">
			<div class="col-xs-8 col-sm-6 col-md-8" style="padding-left:0px;">
				<input id="url" type="url" class="form-control" autofocus/>
			</div>
			<div class="col-xs-4  col-sm-4 col-md-4" style="padding-left:0px;">
				<button id="shorten_btn" class="btn btn-default btn-info">Shorten URL</button>
			</div>
		</div>
	</div>
</div>

<script data-main="/assets/scripts/index" src="/assets/scripts/require.js"></script>
</body>

</html>
